html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(68, 63, 63);
    width: 100%;
    height: 13%;
    margin: 0%;

}

header h1 {
    margin: 0%;
    padding: 2rem;
    color: aliceblue;
}

header nav {
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

header a {
    text-decoration: none;
    color: aliceblue;
    /* border: 0.1px solid rgb(238, 224, 224); */
}

main {
    display: grid;
    grid-template-columns: 1fr 0.65fr;
    height: 50%;
}

.first {
    background-color: bisque;
}

.second {
    background-color: beige;
}

footer {
    background-color: rgb(70, 66, 66);
    color: aliceblue;
    height: 20%;
}

footer p {
    margin: 0%;
    text-align: center;
}