body {
    font-family: "Barrio", system-ui;
    margin: 0%;
    max-width: 100%;
}

main div {
    max-width: 640px;
    margin: 0;
}

footer,
header {
    background-color: rgb(54, 9, 95);
    color: white;
    padding: 1.5rem;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: #fff;
}

#menu.open::before {
    content: "X";
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    max-width: 700px;
    margin: 0;

}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    color: #fff;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-family: "Winky Sans", sans-serif;
    display: flex;
    text-align: center;
    color: #fff;
    padding: 1rem;
    display: none;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

header h1 {
    margin: 0%;
}

main div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

main h2 {
    width: 100%;
    text-align: center;
}

#temples-container {
    width: 100%;
    height: auto;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}

.temple-card {
    padding: 1rem;
    margin: 0.5rem;
    flex: 1 1 300px;
    border: 1.5px solid rgba(44, 42, 42, 0.2);
    text-align: center;
    background-color: rgba(226, 226, 226, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    img {
        width: 100%;
        background-color: rgba(226, 226, 226, 0.5);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }

    p {
        color: #000;
        font-family: "Winky Sans", sans-serif;
        font-size: 1rem;
    }

    strong {
        color: #560b74;
    }
}

/* .temples-container {
    width: 100%;
    height: auto;
}

.temple-card {
    flex: 1 1 300px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

figcaption {
    font-family: "Winky Sans", sans-serif;
    text-align: center;
    font-size: 1.5rem;

} */

footer p {
    margin: 0%;
    font-family: "Winky Sans", sans-serif;
    text-align: center;
}

/* button is clicked */
.open a {
    display: block;
}


.hide {
    display: none;
}