@media screen and (min-width: 700px) {
    :root {
        --main-letter: "Raleway", sans-serif;
        --letter: "Winky Sans", sans-serif;
        --title-size: 2rem;
        --color-1: #3B3B1A;
        --color-2: #8A784E;
        --color-3: #E7EFC7;
        --color-4: #aec8a4;
        --padding-stendard: 1rem;
    }

    .hero-section {
        position: relative;
        width: 100%;
        height: auto;
    }

    .hero source {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .overlay {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .data h2,
    .intro {
        background-color: var(--color-4);
        text-align: left;
        padding: var(--padding-stendard);
        margin: 0%;
    }

    .intro h2,
    .intro img {
        margin: 0%;
    }


    .weather,
    .data {
        background-color: rgba(174, 200, 164, 0.6);
        width: 15rem;
        height: fit-content;
    }

    .overlay table {
        font-size: 1rem;
    }

    .data {
        grid-column: 1/2;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 2/3;
        height: fit-content;
        padding-bottom: 5%;
    }

}